@import "tailwindcss";


@font-face {
  font-family: 'IBM Plex Sans';
  src: url('src/assets/font/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('/src/assets/font/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/font/Inter.ttf') format('truetype');
}


@theme {
  --color-red: #990D35;
  --color-yellow: #F5B700;
  --color-white: #F5FBEF;
  --color-black: #050505;
  --font-plex: "IBM Plex Sans", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-inter: "Inter", sans-serif;
  --text-judul: 109.66px;
  --text-h2: 41.89px;
  --text-h3: 25.89px;
  --test-isi: 16px;


}
html{
  scroll-behavior: smooth;
  background-color: #F5FBEF;
}

/* Untuk Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Untuk Firefox */
html {
  scrollbar-width: none; 
}
